name: mkdocs-ci-site-publisher-cron
on:
  workflow_dispatch:
  schedule:
    - cron: '0 5 * * *'  # Runs at night (05:00 UTC) every Day
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 123456+github-actions[bot]@users.noreply.github.com
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install uv and enable cache
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      # - run: uv pip install git+https://github.com/srvanrell/ranking-table-tennis.git@branch-name
      # Combines preprocess, compute and publish to automatically resolve
      - id: rtt-automatic
        env:
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
        run: uv run rtt automatic
      - if: ${{ steps.rtt-automatic.outputs.stop_workflow != 'true' }}
        run: uv run ./update_results_to_publish.sh
      - if: ${{ steps.rtt-automatic.outputs.stop_workflow != 'true' }}
        uses: EndBug/add-and-commit@v9
        with:
          message: Committed from cron workflow
          committer_name: GitHub Actions
          committer_email: actions@github.com
      - if: ${{ steps.rtt-automatic.outputs.stop_workflow != 'true' }}
        run: uv run mkdocs gh-deploy --force
