name: mkdocs-ci-site-publisher-on-merge
on:
  push:
    branches:
      - master
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 123456+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install uv and enable cache
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      # - run: pip install git+https://github.com/srvanrell/ranking-table-tennis.git@branch-name
      - id: rtt-preprocess
        env:
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
        run: uv run rtt preprocess --assume-yes
      - if: ${{ steps.rtt-preprocess.outputs.stop_workflow != 'true' }}
        run: uv run rtt compute
      - if: ${{ steps.rtt-preprocess.outputs.stop_workflow != 'true' }}
        run: uv run rtt publish --last
      - if: ${{ steps.rtt-preprocess.outputs.stop_workflow != 'true' }}
        run: uv run ./update_results_to_publish.sh
      - if: ${{ steps.rtt-preprocess.outputs.stop_workflow != 'true' }}
        run: uv run mkdocs gh-deploy --force
